:root {
  --fs-s: 1rem;
  --fs-sm: 1.2rem;
  --fs-m: 1.5rem;
  --fs-l: 5rem;
  --white: #ffffff;
  --secondary-color: #ffe54c;
  --base-color: #000000;
  --primary-color: #7f00ff;
  --medium: 768px;
}

@font-face {
  font-family: Assistant-Light;
  src: url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.eot");
  src: url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.eot?#iefix") format("embedded-opentype"), 
  url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.woff2") format("woff2"), 
  url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.woff") format("woff"), 
  url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.ttf") format("truetype"), 
  url("../assets/fonts/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.svg#Assistant") format("svg");
}

@font-face {
  font-family: Assistant-Bold; 
  src: url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.eot"); 
  src: url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.eot?#iefix") format("embedded-opentype"), 
  url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.woff2") format("woff2"), 
  url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.woff") format("woff"), 
  url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.ttf") format("truetype"), 
  url("../assets/fonts/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.svg#Assistant") format("svg"); 
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 200;
  font-family: Assistant-Light;
}

.main__wrapper {
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.intro__container {
  margin-top: 56px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: url(../assets/bg.jpeg), url(../assets/blob.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, -161px -172px;
  background-size: cover, cover;
  background-blend-mode: overlay;
  background-attachment: fixed, scroll;
  transition: all 0.2s;
}

.intro__container .intro__container-left-pane h1 {
  font-size: var(--fs-l);
  color: var(--base-color);
  margin: 0;
  font-family: Assistant-Bold;
}

/* SOCIAL */

.social {
  position: fixed;
  z-index: 50;
  padding: 5px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  left: 10px;
  background: rgba(255,255,255,0.8);
}

.social i {
  font-size: 1.8rem !important;
}

.social a {
  color: var(--base-color);
}

.social a:hover {
  color: var(--primary-color);
}

/* PROJECTS */

.card-1 {
  position: relative;
  transition: all .5s ease-in;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 267px;
  margin: auto;
  object-fit: contain;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.8);
}

.card-1:hover .card__overlay {
  opacity: 1;
}

.overlay__text {
  color: var(--base-color);
  font-size: 20px;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.decorated__title {
  text-align: center;
}

.decorated__title > span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

/* SKILLS */

.skills__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: var(--fs-sm);
}

.skills__container > div {
  padding: 10px;
  width: 18rem;
}

.skills__container strong {
  font-family: Assistant-Bold;
}

/* MODAL */

.modal-dialog .modal-content {
  border-radius: 0 !important;
  border: none !important;
}

.modal-dialog img {
  width: 100%;
}

.modal-footer {
  display: block !important;
  border: none !important;
  min-height: 65px;
  text-align: center;
}

.modal-text a {
  color: var(--primary-color);
}

/* CONTACT */

.contact__sec h2, .contact__sec p {
  text-align: center;
}

.contact__sec h2 {
  font-family: Assistant-Bold;
}

/* WORK EXPERIENCE */

.ex__sec {
  font-size: var(--fs-sm);
  max-width: 620px;
}

.ex__sec p {
  font-size: var(--fs-s);
}

.ex__sec ul {
  list-style: none;
  padding-left: 0;
}

.ex__sec li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.ex__sec li::before {
  content: url(../assets/blob.svg);
  position: absolute;
  left: 0px;
  top: 3px;
  width: 20px;
  opacity: 0.6;
}

.about_me__sec .about_me__sec-text-container {
  position: relative;
  font-size: var(--fs-sm);
  overflow: hidden;
}

/* FOOTER */

footer {
  height: 26vh;
  padding: 10px;
  background: radial-gradient(at top left, rgb(0, 0, 0) 20%, #000000 160%);;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

footer a {
  color: var(--white);
  text-decoration: none;
}
footer a:hover {
  color: inherit;
  text-decoration: none;
}

footer i {
  padding-right: 10px;
  font-size: var(--fs-m) !important;
}

/* BUTTON */

.button-51 {
  z-index: 0;
  font-size: var(--fs-s);
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0 !important;
  border: 1px solid var(--base-color);
  cursor: pointer;
  color: var(--base-color);
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.button-51:hover {
  color: var(--base-color);
}

.button-51:after {
  content: "";
  background-color: var(--secondary-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-51:hover:after  {
  top: 0px;
  left: 0px;
}

/* NAVBAR */

.navbar-brand {
  padding-bottom: 0.7125rem !important;
}

.navbar-brand-logo {
  width: 100%;
  max-width: 50px;
  max-height: 50px;
  position: relative;
  z-index: 0;
}

.navbar-brand-logo img {
  width: 100%;
}

.navbar-brand-logo::after {
  content: "";
  border: 1px solid var(--base-color);
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.navbar-brand-logo:hover::after {
  top: 0px;
  left: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--base-color) !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: var(--primary-color) !important;
  font-family: Assistant-Bold;
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.form .form__group {
  width: 100%;
  margin: 15px 0;
  position: relative;
}

.form .form__group label {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 11px;
  font-size: 13px;
  background: #fff;
  padding: 0 3px;
  text-align: center;
}

.form .form__group button {
  z-index: inherit;
}

.form .form__group input, .form .form__group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--base-color);
  border-radius: 0;
}

input:focus, textarea:focus {
  border: 1px solid var(--primary-color) !important;
  border-radius: 0 !important;
  outline: none;
}

.form__group:focus-within > label {
  color: var(--primary-color);
}

/* PATTERN */

.pattern-1 {
  background: linear-gradient(25deg, #ffffff 40%, transparent 41%, transparent 59%, #ffffff 60%) ,linear-gradient(90deg, transparent 45%, var(--secondary-color) 45%, var(--secondary-color) 55%, transparent 55%, transparent 20%, var(--secondary-color) 20%, var(--secondary-color) 30%,transparent 82%);
  background-size: 4em 4em;
  opacity: 0.45;
  height: 185px;
  width: 185px;
  position: absolute;
  z-index: -1;
  top: -53px;
  left: 160px;
  transform: rotate(45deg);
}

.pattern-2 {
  background: radial-gradient(circle at 25% 25%,transparent 14%,var(--primary-color) 15%, var(--primary-color) 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, transparent 11%, var(--primary-color) 12%, var(--primary-color) 17%, transparent 18%);
  background-size: 2em 2em;
  opacity: 0.25;
  width: 112px;
  height: 112px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .intro__container {
    text-align: center;
    background-position: center, -108px -58px;
    background-size: auto, 155%;
  }
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 730px !important;
  }
}

@media screen and (max-width: 600px) {
  .social {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .button-51 {
    font-size: 0.6rem;
  }
}